body{
    background-color: blueviolet;
}

table{
    border: 4px rgb(255, 0, 0) solid;
    width: 800px;
    height: 600px;
    margin: auto;
}

table td{
    border: solid 4px rgb(255, 94, 0);
    height: 100px;
    width: 100px;
}

main{
    border: solid rgb(187, 255, 0) 4px;
    width: 50%;
    margin: auto;
    font-size: 1.5em;
}

img{
    width: 130px`;
    height: 130px;
}